<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- 自动扫描在某个包（包括子包）下面的所有类型，寻找包含特定注解的类，并将它注册到Spring中 -->
	<context:component-scan base-package="cn.sjzc.booksale" />
 
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/booksale" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>

	<!-- 将SessionFactory交给Spring来管理-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
				hibernate.show_sql=true
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/sjzc/booksale/model/Admin.hbm.xml</value>
				<value>cn/sjzc/booksale/model/Book.hbm.xml</value>
				<value>cn/sjzc/booksale/model/BuyInfor.hbm.xml</value>
				<value>cn/sjzc/booksale/model/SellInfor.hbm.xml</value>
				<value>cn/sjzc/booksale/model/User.hbm.xml</value>
				<value>cn/sjzc/booksale/model/Category.hbm.xml</value>
				<value>cn/sjzc/booksale/model/Message.hbm.xml</value>
			</list>
		</property>
	</bean>
 
	<!-- Hibernate事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<tx:annotation-driven transaction-manager="transactionManager"  />
	
</beans>
